/* Custom Scrollbar for dots. */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #FAFAFA;
}

::-webkit-scrollbar-thumb {
    background: #E5E7EB;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D1D5DB;
}

/* Ensure smooth scrolling globally */
html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for the admin table overflow */
.hide-scroll::-webkit-scrollbar {
    display: none;
}
.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}